
body {
    background-color: slategray;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(241, 159, 7);

}

h4 {
    font-family: 'Arizonia', cursive;
    font-size: 35px;
    margin: 5px;
    color: white;
}

#card-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Location Cards */

.card {
    border: 1px solid black;
    margin-top: 20px;
    margin-left: 67px;
    margin-right: 67px;
    text-align: center;
    background-color: rgb(196, 105, 2);
    width: 17%;
}

.card button {
    margin: 0 auto;
}

.card textarea,
.card img,
.card button {
    margin: 2px auto;
    display: block;

}

.card img {
    width: 250px;
    height: 200px;
    display: block;
}

/* Diary Entry Cards */

.diary-card {
    margin: 20px auto;
    width: 67.3%;
    border: 1px solid black;
    background-color: rgb(196, 105, 2);
}

.diary-card h3,
.diary-card p {
    color: white;
}